<div class="bg-white rounded-lg border shadow-lg p-5 w-full max-w-sm mx-auto">
  <!-- 説明文 -->
  <div class="mb-4 text-center">
    <p class="text-lg text-gray-500">
      シンプルなtodoリストです。
    </p>
  </div>

  <div class="text-center mt-8">
    <%= link_to "ログイン", new_user_session_path, class: "bg-blue-500 hover:bg-blue-600 text-white px-4 py-2 rounded" %>
    <%= link_to "新規登録", new_user_registration_path, class: "bg-green-500 hover:bg-green-600 text-white px-4 py-2 rounded ml-2" %>
  </div>
</div>

